.carrito {
  .card {
    height: min-content;
    p {
      margin: 0px;
    }
  }
  img {
    height: 100px;
    width: 100px;
    margin: 0;
  }
  .total {
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
  }
  .checkout {
    text-align: right;
    margin-top: 20px;
    button {
      padding: 10px 20px;
      background-color: #4caf50;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}
