%btn-base {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 5px $primary;
  &:hover {
    box-shadow: 0 3px $primary;
    top: 1px;
  }
  &:active {
    box-shadow: 0 0 $primary;
    top: 5px;
  }
}

.btn-send {
  @extend %btn-base;
  color: #fff;
  background: #609966;
  border: none;
}

.btn-add {
  @extend %btn-base;
  border: 2px solid $primary;
  background: transparent;
}
