.carrito {
  .carrito .card {
    height: min-content;
    width: 100%;
  }

  .carrito img {
    height: 100px;
    width: 100px;
    margin: 0;
  }

  .carrito .total {
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
  }

  .carrito .checkout {
    text-align: right;
    margin-top: 20px;
  }

  .carrito .checkout button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
}
