.navbar {
  background-color: $primary !important;
  a {
    color: darkgrey !important;
    @include flex(column, wrap, center, center);
  }
  .active {
    color: white !important;
    border-bottom: 1px solid white;
  }
}

/* .navbar {
    background-color: #40513b !important;
  }

  .navbar a {
    color: white !important;
  }*/
